@page
@model ProyectoCiclo3.App.Frontend.Pages.EditAvionModel
@{
    var avion = Model.Avion;
}
<style>
body {
  background-image: url('https://images.pexels.com/photos/12374211/pexels-photo-12374211.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
<div class="text-center">
    <form method = "POST">
         <input type="text" class="form-control d-none" id="id" name="id" required placeholder="id" minlength="3" asp-for="@avion.id" readonly>
         <label for="modelo" class="form-label">Modelo:</label>
        <input type="text" class="form-control" id="modelo" name="modelo" required placeholder="Modelo" asp-for="@avion.modelo">
        <label for="marca" class="form-label">Marca:</label>
        <input type="text" class="form-control" id="marca" name="marca" required placeholder="Marca" asp-for="@avion.marca">
 
        <label for="numero_asientos" class="form-label">Numero Asientos:</label>
        <input type="text" class="form-control" id="numero_asientos" name="numero_asientos" required placeholder="Numero asientos" asp-for="@avion.numero_asientos">
 
        <label for="cap_max_peso" class="form-label">Capacidad maxima peso:</label>
        <input type="number" class="form-control" id="cap_max_peso" name="cap_max_peso" required placeholder="Capacidad maxima peso" asp-for="@avion.cap_max_peso">
 
        <label for="numero_baños" class="form-label">Numero baños:</label>
        <input type="number" class="form-control" id="numero_baños" name="numero_baños" required placeholder="Numero baños" asp-for="@avion.numero_baños">
        <hr>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>
</div>