@page
@model ProyectoCiclo3.App.Frontend.Pages.ListAvionesModel;
@{
}
<style>
body {
  background-image: url('https://images.pexels.com/photos/12374211/pexels-photo-12374211.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-attachment: fixed;
   background-size: 100% 100%;
}
</style>
<table class="table table-black">
  <thead class="thead-black">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Modelo</th>
      <th scope="col">Marca</th>
      <th scope="col">Numero asientos</th>
      <th scope="col">Numero baños</th>
      <th scope="col">capacidad maxima peso</th>
    </tr>
  </thead>
  <tbody>
    
   @foreach (var avion in Model.Aviones)
    {
        <tr>
            <td>@avion.id</td>
            <td>@avion.modelo</td>
            <td>@avion.marca</td>
            <td>@avion.cap_max_peso</td>
            <td>@avion.numero_baños</td>
            <td>@avion.numero_asientos</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-avionId="@avion.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-avionId="@avion.id">Editar</a>
             <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal_@avion.id">
                  Eliminar
                </button>
 
                <div class="modal fade" id="exampleModal_@avion.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Eliminacion de Avion</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Esta seguro que desea eliminar el avion @avion.marca
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                          <form method="POST">
                            <input type="number" class="form-control d-none" placeholder="id" asp-for="@avion.id">
                            <button type="submit"class="btn btn-danger" href="">Eliminar</button>
                          </form>
                          </div>
                      </div>
                    </div>
                  </div>
            </td>
        </tr>
    }
  </tbody>
</table>  